@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none !important;
}

#custom-cursor {
  width: 40px;
  height: 40px;
  background:yellow;
  border: 2px solid black;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: transform 0.2s ease;
}

/* Increase cursor size on interactive elements */
button:hover ~ #custom-cursor,
input:hover ~ #custom-cursor,
a:hover ~ #custom-cursor {
  transform: scale(1.5);
}